{% extends "base.html" %}
{% block title %}Draft Email{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h4>Draft Email</h4>
  <form action="/create" method="POST">
      <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="title" placeholder="Title">
      </div>
      <div class="form-group">
      <label>From Email address</label>
      <input type="email" class="form-control" name="from_email" placeholder="From Email">
      </div>
      <div class="form-group">
      <label>To Email address</label>
      <input type="email" class="form-control" name="to_email" placeholder="To Email">
      </div>
      <div class="form-group">
      <textarea name="email_message" rows="10" cols="30" placeholder="Please type your email message here"></textarea>
      </div>
  <button type="submit" class="btn btn-default">Create</button>
  </form>
{% endblock %}