{% extends "base.html" %}
{% block title %}Email Data{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <p class="navbar-btn">
        <a href="/create_form" class="btn btn-default">Create New Email</a>
    </p>
    <p class="navbar-btn">
        <a href="/v1.0/emails/publish" class="btn btn-default">Send Emails</a>
        <p>
        <h7>(Refresh page after some time to check sent status)</h7>
        </p>
        <p>
        <h7>(Please check the spam folder)</h7>
        </p>
    </p>
    <br></br>
  <h4>Emails created</h4>
  <table class="table table-striped">
  <thead>
  <tr>
      <th>Id</th>
      <th>Title</th>
      <th>From</th>
      <th>To</th>
      <th>Message</th>
      <th>Email Sent</th>
  </tr>
  </thead>
  <tbody>
  {% for email in emails %}
    <tr>
        <td>{{ email.id }}</td>
        <td>{{ email.title }}</td>
        <td>{{ email.from_email }}</td>
        <td>{{ email.to_email }}</td>
        <td>{{ email.email_message }}</td>
        <td>{{ email.email_sent}}</td>
        <td>
            <form method="POST" action="/update_form" style="display: inline">
                <input type="hidden" value="{{email.id}}" name="id">
                <input type="hidden" value="{{email.title}}" name="title">
                <input type="hidden" value="{{email.from_email}}" name="from_email">
                <input type="hidden" value="{{email.to_email}}" name="to_email">
                <input type="hidden" value="{{email.email_message}}" name="email_message">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form method="POST" action="/v1.0/emails/delete" style="display: inline">
                <input type="hidden" value="{{email.id}}" name="id">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}